.DS_Store

# Ignore downloaded PDFs
/downloads/
/tutorial/comparison/
/tutorial/downloads/
/tutorial/texts/
/tutorial/OLD/

# Ignore TODO file
TODO.md

# Ignore virtual environment
.venv/

# Ignore Python cache files
__pycache__/
